
.navigation{
    display: flex;
margin-left: 40px;
font-size: 36px;
font-weight: 300;
list-style: none;
padding-left: 30px;

}
.navigation li{
    padding-left: 30px;
    text-decoration-style: none;
}
.persons{
text-decoration: none;
display: flex;

}
.persons li{
list-style: none;
padding-left:50px;
font-size: 24px;
text-align: center;
}
 /****submission.html****/
#section {
    width: 80%;
    margin: 3% auto;
    height: 85vh;
    background-color: #d2c7c7d9;
    border-radius: 40px;
}
#section h1{
text-align: center;
}